.version.index /* version checker */
{
	color: #0000E2;
	background-color: #67F36B;
}

#page
{
	z-index: 1;
	min-height: 695px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#u1925
{
	z-index: 12;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 287px;
	width: 36.98%;
	left: 7.4%;
}

#u1566
{
	z-index: 14;
	min-height: 414px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 120px;
	width: 25%;
	left: 51.05%;
}

#u1951
{
	z-index: 2;
	position: relative;
	margin-right: -10000px;
	width: 130.42%;
	margin-left: -15.21%;
	left: -6px;
}

#u1757
{
	z-index: 3;
	padding-top: 22px;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
	margin-left: 0%;
	left: 0px;
}

#u1303
{
	z-index: 10;
	padding-bottom: 5px;
	position: relative;
	width: 100%;
	margin-left: 0%;
	left: 0px;
}

#u1304
{
	z-index: 11;
	height: 46px;
	position: relative;
	margin-right: -10000px;
	margin-top: -22px;
	width: 100%;
	margin-left: 0%;
	left: 0px;
}

#u1367
{
	z-index: 8;
	margin-top: 19px;
	position: relative;
	width: 15.02%;
	margin-left: 42.5%;
	left: -318px;
}

#u1027-4
{
	z-index: 4;
	min-height: 18px;
	margin-top: 527px;
	position: relative;
	width: 20.21%;
	margin-left: 39.9%;
	left: 339px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

.verticalspacer
{
	margin-bottom: -720px;
	min-height: 161px;
}

#u1925_img,#u1367_img
{
	width: 100%;
}

