#u1757
{
	background-color: #F5F5F5;
}

#u1397
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u1303
{
	-pie-box-shadow: 7px 4px 8px #AFAFAF;
	box-shadow: 7px 4px 8px rgba(0,0,0,0.31);
	background-color: #FFFFFF;
}

#u1304
{
	background-color: #033E8E;
}

#u1367
{
	background-color: transparent;
}

#u1027-4
{
	background-color: transparent;
	color: #043C8F;
}


