.version.sobre_n_s /* version checker */
{
	color: #0000EF;
	background-color: #71D82D;
}

#page
{
	z-index: 1;
	min-height: 500px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#u637
{
	z-index: 2;
	position: relative;
	margin-right: -10000px;
	margin-top: -19px;
	width: 209.59%;
	left: -52.71%;
}

#u653
{
	z-index: 4;
	position: relative;
	margin-right: -10000px;
	margin-top: 80px;
	width: 26.25%;
	left: 6.67%;
}

#u1027-4
{
	z-index: 6;
	min-height: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 673px;
	width: 26.36%;
	left: 71.57%;
}

#u871-4
{
	z-index: 10;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 115px;
	width: 19.38%;
	left: 61.88%;
}

#u967-4
{
	z-index: 14;
	position: relative;
	margin-right: -10000px;
	margin-top: 624px;
	width: 9.69%;
	left: 4.59%;
}

#u967-4_img
{
	display: block;
	vertical-align: top;
	width: 100%;
}

#u874
{
	z-index: 18;
	height: 275px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 270px;
	width: 65.94%;
	left: 16.98%;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

#u653_img
{
	width: 100%;
}

